@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/
html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.product-tag{
  position: absolute;
  top: 0.25rem;
  z-index: 11;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 8px;
  font-weight: 400;
  line-height: 100%;
}
@media (min-width: 768px){
  .product-tag{
    top: 0.5rem;
    font-size: 10px;
  }
}
.product-image{
  height: 160px;
  width: 100%;
  border-radius: 0.75rem;
  object-fit: cover;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
@media (min-width: 375px){
  .product-image{
    height: 208px;
  }
}
@media (min-width: 556px){
  .product-image{
    height: 268px;
  }
}
@media (min-width: 768px){
  .product-image{
    height: 396px;
  }
}
@media (min-width: 1280px){
  .product-image{
    height: 356px;
  }
}
@media (min-width: 1440px){
  .product-image{
    height: 384px;
  }
}
.tw-absolute{
  position: absolute;
}
.tw-relative{
  position: relative;
}
.tw-left-1{
  left: 0.25rem;
}
.tw-right-1{
  right: 0.25rem;
}
.tw-top-0{
  top: 0px;
}
.tw-z-\[9\]{
  z-index: 9;
}
.tw-mb-3{
  margin-bottom: 0.75rem;
}
.tw-mb-6{
  margin-bottom: 1.5rem;
}
.tw-line-clamp-2{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.tw-line-clamp-1{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.tw-block{
  display: block;
}
.tw-flex{
  display: flex;
}
.tw-grid{
  display: grid;
}
.\!tw-hidden{
  display: none !important;
}
.tw-hidden{
  display: none;
}
.tw-h-\[9px\]{
  height: 9px;
}
.tw-max-h-0{
  max-height: 0px;
}
.tw-w-\[9px\]{
  width: 9px;
}
.tw-w-full{
  width: 100%;
}
.tw-grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.tw-flex-col{
  flex-direction: column;
}
.tw-items-start{
  align-items: flex-start;
}
.tw-gap-1{
  gap: 0.25rem;
}
.tw-gap-2{
  gap: 0.5rem;
}
.tw-gap-3{
  gap: 0.75rem;
}
.tw-overflow-hidden{
  overflow: hidden;
}
.tw-text-ellipsis{
  text-overflow: ellipsis;
}
.tw-rounded-full{
  border-radius: 9999px;
}
.tw-bg-\[\#1C1D1D\]{
  --tw-bg-opacity: 1;
  background-color: rgb(28 29 29 / var(--tw-bg-opacity, 1));
}
.tw-bg-\[\#5C7962\]{
  --tw-bg-opacity: 1;
  background-color: rgb(92 121 98 / var(--tw-bg-opacity, 1));
}
.tw-bg-\[\#FFFFFA\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 250 / var(--tw-bg-opacity, 1));
}
.tw-px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.tw-px-9{
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.tw-py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tw-py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.tw-text-center{
  text-align: center;
}
.tw-font-best-seller{
  font-family: Bebas Neue;
}
.tw-font-best-seller-price{
  font-family: Poppins;
}
.tw-font-best-seller-title{
  font-family: 'Source Serif 4';
}
.tw-text-\[11px\]{
  font-size: 11px;
}
.tw-text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.tw-font-bold{
  font-weight: 700;
}
.tw-font-medium{
  font-weight: 500;
}
.tw-font-normal{
  font-weight: 400;
}
.tw-font-semibold{
  font-weight: 600;
}
.tw-text-\[\#707070\]{
  --tw-text-opacity: 1;
  color: rgb(112 112 112 / var(--tw-text-opacity, 1));
}
.tw-text-\[\#FFFFFA\]{
  --tw-text-opacity: 1;
  color: rgb(255 255 250 / var(--tw-text-opacity, 1));
}
.tw-text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.tw-opacity-0{
  opacity: 0;
}
.tw-transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.tw-duration-300{
  transition-duration: 300ms;
}
.tw-ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tw-text-mobile-size{
  font-size: 28px;
  line-height: 1.5rem;
}
.custom-scrollbar {
    &::-webkit-scrollbar{
    height: 0.5rem;
  }

    &::-webkit-scrollbar-button{
    display: none;
  }

    &::-webkit-scrollbar-track{
    border-radius: 0.5rem;
  }

    &::-webkit-scrollbar-track{
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

    &::-webkit-scrollbar-track{
    border-left-width: 0px;
    border-right-width: 0px;
  }

    &::-webkit-scrollbar-track{
    border-style: solid;
  }

    &::-webkit-scrollbar-track{
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  }

    &::-webkit-scrollbar-track{
    --tw-bg-opacity: 1;
    background-color: rgb(221 214 215 / var(--tw-bg-opacity, 1));
  }

    @media (min-width: 1024px){
    &::-webkit-scrollbar-track{
      margin: 6rem;
    }
  }

    @media (min-width: 1280px){
    &::-webkit-scrollbar-track{
      margin-left: 234px;
      margin-right: 234px;
    }
  }

    @media (min-width: 1440px){
    &::-webkit-scrollbar-track{
      margin-left: 112px;
      margin-right: 112px;
    }
  }

    @media (min-width: 1536px){
    &::-webkit-scrollbar-track{
      margin-left: 14.75rem;
      margin-right: 14.75rem;
    }
  }

    @media (min-width: 2560px){
    &::-webkit-scrollbar-track{
      margin-left: 20rem;
      margin-right: 20rem;
    }
  }

    &::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
  }

    &::-webkit-scrollbar-thumb{
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

    &::-webkit-scrollbar-thumb{
    border-left-width: 0px;
    border-right-width: 0px;
  }

    &::-webkit-scrollbar-thumb{
    border-style: solid;
  }

    &::-webkit-scrollbar-thumb{
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  }

    &::-webkit-scrollbar-thumb{
    --tw-bg-opacity: 1;
    background-color: rgb(35 31 32 / var(--tw-bg-opacity, 1));
  }

    &::-webkit-scrollbar-thumb:hover{
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
  }
.tw-group:hover .group-hover\:tw-opacity-100{
  opacity: 1;
}
@media (min-width: 375px){
  .xxs\:tw-flex-row{
    flex-direction: row;
  }
  .xxs\:tw-items-center{
    align-items: center;
  }
}
@media (min-width: 768px){
  .md\:tw-left-2{
    left: 0.5rem;
  }
  .md\:tw-right-2{
    right: 0.5rem;
  }
  .md\:tw-mb-4{
    margin-bottom: 1rem;
  }
  .md\:tw-mb-\[30px\]{
    margin-bottom: 30px;
  }
  .md\:tw-h-3{
    height: 0.75rem;
  }
  .md\:tw-w-3{
    width: 0.75rem;
  }
  .md\:tw-gap-\[5px\]{
    gap: 5px;
  }
  .md\:tw-text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .md\:tw-text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .md\:tw-text-tablet-size{
    font-size: 32px;
    line-height: 1.5rem;
  }
}
@media (min-width: 1024px){
  .lg\:tw-relative{
    position: relative;
  }
  .lg\:tw-mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .lg\:tw-mb-0{
    margin-bottom: 0px;
  }
  .lg\:tw-mb-4{
    margin-bottom: 1rem;
  }
  .lg\:tw-mb-\[38px\]{
    margin-bottom: 38px;
  }
  .lg\:tw-line-clamp-none{
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: none;
  }
  .lg\:tw-flex{
    display: flex;
  }
  .lg\:tw-hidden{
    display: none;
  }
  .lg\:tw-w-\[355px\]{
    width: 355px;
  }
  .lg\:tw-max-w-\[51\.25rem\]{
    max-width: 51.25rem;
  }
  .lg\:tw-scroll-m-10{
    scroll-margin: 2.5rem;
  }
  .lg\:tw-items-center{
    align-items: center;
  }
  .lg\:tw-justify-between{
    justify-content: space-between;
  }
  .lg\:tw-gap-0{
    gap: 0px;
  }
  .lg\:tw-gap-2{
    gap: 0.5rem;
  }
  .lg\:tw-gap-6{
    gap: 1.5rem;
  }
  .lg\:tw-overflow-x-scroll{
    overflow-x: scroll;
  }
  .lg\:tw-scroll-smooth{
    scroll-behavior: smooth;
  }
  .lg\:tw-px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
  .lg\:tw-px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .lg\:tw-px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .lg\:tw-py-\[82px\]{
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .lg\:tw-pb-12{
    padding-bottom: 3rem;
  }
  .lg\:tw-text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg\:tw-text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .lg\:tw-font-semibold{
    font-weight: 600;
  }
  .lg\:tw-underline{
    text-decoration-line: underline;
  }
  .lg\:tw-text-desktop-size{
    font-size: 40px;
    line-height: 2rem;
  }
}
@media (min-width: 1280px){
  .xl\:tw-max-w-\[75\.25rem\]{
    max-width: 75.25rem;
  }
  .xl\:tw-px-\[14\.625rem\]{
    padding-left: 14.625rem;
    padding-right: 14.625rem;
  }
}
@media (min-width: 1440px){
  .\32xl\:tw-px-\[7rem\]{
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (min-width: 1536px){
  .\33xl\:tw-max-w-\[90rem\]{
    max-width: 90rem;
  }
  .\33xl\:tw-px-\[14\.625rem\]{
    padding-left: 14.625rem;
    padding-right: 14.625rem;
  }
}
@media (min-width: 2560px){
  .\34xl\:tw-max-w-\[120rem\]{
    max-width: 120rem;
  }
  .\34xl\:tw-px-\[19\.75rem\]{
    padding-left: 19.75rem;
    padding-right: 19.75rem;
  }
}
