.show-more-div-container:has(~ #show-more:checked) .show-more-div {
  max-height: 9999px;
  transition: max-height 0.3s ease-in-out;
}
#show-more:checked ~ label::after {
  content: "Show less";
  display: block;
}
#show-more:not(:checked) ~ label::after {
  content: "Show more";
  display: block;
}

@media (min-width: 1440px) {
  .show-more-div-container.swiper {
    min-height: 560px;
  }

  .slider-wrapper.swiper-wrapper {
    height: 560px;
  }
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  color: #1c4c5b;
  background-color: transparent;
}

@media (min-width: 1024px) {
  .lds-ring {
    display: inline-block;
  }
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
  top: 50%;
  left: 50%;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
